/* Intro section */
.intro__container {
    display: flex;
    margin: 120px 30px;
}

.intro__content {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.intro__heading {
    font-size: 3.0625rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 32px;
    text-shadow: 0px 0px 2px rgb(168, 166, 166);
    animation: slideTop 1000ms;
}

.intro__text {
    font-weight: 500;
    text-shadow: 0px 0px 2px rgb(168, 166, 166);
    animation: slideBottom 1000ms;
}

.intro__signup {
    flex: 1;
    display: flex;
    flex-flow: column;
    max-width: 540px;
    margin-left: 20px;
    animation: signupScale 1000ms;
}

.intro__message {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-blue);
    border-radius: 10px;
    height: 58px;
    margin-bottom: 24px;
    font-size: 0.98rem;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 250ms ease-in,
                height 250ms ease-in;
}

.intro__message:hover {
    opacity: 0.9;
}

.intro__message-text {
    font-weight: 300;
}

.intro__form {
    display: flex;
    flex-flow: column;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
    transition: padding 250ms ease-in;
}

.intro__input-wrapper {
    position: relative;
}

.intro__input-wrapper::before {
    visibility: hidden;
    position: absolute;
    content: url('../assets/img/icon-error.svg');
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.intro__input-wrapper.active::before {
    visibility: visible;
    animation: invalidIcon 500ms;
}

.intro__input-wrapper.active .intro__input {
    color: var(--clr-red);
    border: 2px solid var(--clr-red);
}

.intro__input-wrapper.active .intro__input:focus{
    color: var(--clr-red);
    border: 2px solid var(--clr-red);
}

.intro__input-wrapper.valid .intro__input:focus {
    border: 2px solid var(--clr-green);
}

.intro__input-wrapper.valid.intro__input-wrapper::before {
    visibility: visible;
    content: url('../assets/img/icon-check.svg');
    animation: invalidIcon 500ms;
}

.intro__input {
    width: 100%;
    border: 1px solid var(--clr-blue-grayish);
    border-radius: 4px;
    height: 56px;
    padding-left: 30px;
    transition: border 250ms ease-in;
}

.intro__form * + * { /* Lobotomized Owl selector */
    margin-top: 20px;
}

.intro__input,
.intro__input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
}

.intro__input:focus::placeholder {
    color: var(--clr-blue-dark);
    opacity: 1;
}

.intro__input:focus.intro__input {
    border: 1px solid var(--clr-blue-dark);
}

.intro__input:invalid {
    box-shadow: none;
}

.intro__invalid-message {
    visibility: hidden;
    height: 0px;
    color: var(--clr-red);
    margin-top: 3px;
    align-self: flex-end;
    font-size: 0.75rem;
    font-weight: 500;
    font-style: italic;
    transition: height 250ms ease-in;
}

.intro__invalid-message.active {
    visibility: visible;
    height: 10px;
    animation: opacity 500ms;
}

.intro__cta {
    position: relative;
    background: var(--clr-green);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    color: #fff;
    height: 52px;
    border: 1px solid rgba(0,0,0,0.15);
    border-bottom-width: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 250ms ease-in,
                border-width 250ms ease-in;
}

.intro__cta:hover {
    opacity: 0.8;
}

.intro__terms {
    color: var(--clr-blue-grayish);
    font-size: 0.65625rem;
    font-weight: 500;
    text-align: center;
}

.intro__link {
    position: relative;
    text-decoration: none;
    color: var(--clr-red);
    font-weight: 700;
}

.intro__link::before {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 1px;
    background: var(--clr-red);
    transition: width 250ms ease-in,
                left 250ms ease-in;
}

.intro__link:hover::before {
    width: 100%;
    left: 0px;
}

/* Intro media queries */
@media (max-width: 800px) {
    .intro__container {
        flex-flow: column;
        align-items: center;
    }

    .intro__content {
        text-align: center;
        margin-bottom: 64px;
    }

    .intro__heading {
        font-size: 1.75rem;
    }

    .intro__text {
        max-width: 532px;
    }

    .intro__signup {
        margin: 0;
        width: 100%;
    }

    .intro__message {
        height: 80px;
    }

    .intro__form {
        padding: 22px;
    }
}

@media (max-width: 480px) {
    .intro__heading {
        line-height: 1.2;
    }
    .intro__message-text {
        text-align: center;
        max-width: 210px;
    }

    .intro__terms {
        max-width: 243px;
        margin: 15px auto 0 auto;
    }
}