/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --clr-red: hsl(0, 100%, 74%);
    --clr-green: hsl(154, 59%, 51%);
    --clr-blue: hsl(248, 32%, 49%);
    --clr-blue-dark: hsl(249, 10%, 26%);
    --clr-blue-grayish: hsl(246, 25%, 77%);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: url(../assets/img/bg-intro-desktop.png), var(--clr-red);
    background-position: top;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

/* Utilities */